.MyThreads {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url("./images/flowers.png");
  background-size: cover;
  margin: 0;
  margin-top: -3rem;
}

.MyThreads .search-container {
  padding: 3rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.MyThreads .flex-container {
  width: 96vw;
  margin: 2vw;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1rem;
}

.MyThreads .col-spacer {
  grid-column-start: 6;
  grid-column-end: 13;
}
