.Search {
  font-family: "Bodoni Moda", serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 10rem;
}

.Search #thread-search {
  background-color: #e6eff6;
  width: 15rem;
  height: 2.5rem;
  border-radius: 4px;
  border: none;
  font-family: "Bodoni Moda", serif;
  vertical-align: middle;
  font-size: 1.1rem;
  color: black;
  padding-left: 0.5rem;
}

.Search #thread-search::placeholder {
  color: black;
}

.Search #thread-search:focus {
  outline: none;
}

.Search #search-button {
  background-color: #cddfed;
  height: 2.5rem;
  border-radius: 4px;
  border: none;
  font-family: "Bodoni Moda", serif;
  margin-left: 0.5rem;
  width: 5rem;
  font-size: 1.1rem;
}

.Search #search-button:hover {
  cursor: pointer;
}

.Search .flex {
  display: flex;
}

.Search .search-popup {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.5rem 0.8rem;
  background-color: #edf4f4;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 1rem;
  min-width: 42rem;
}

.Search .search-popup:after {
  content: "";
  position: absolute;

  /* position tooltip correctly */
  left: 30%;
  margin-left: -5px;

  /* vertically center */
  bottom: 100%;

  /* the arrow */
  border: 10px solid #000;
  border-color: transparent transparent #edf4f4 transparent;

  display: block;
}

.Search .search-popup.hidden {
  opacity: 0;
}

.Search .thread-error {
  font-family: "Bodoni Moda", serif;
  font-size: 0.8rem;
  padding-top: 1rem;
  transition: opacity 0.2s ease-in-out;
  margin-left: -4rem;
}

.Search .tooltip {
  position: relative;
  background-color: #cddfed;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
}

.Search .tooltip:after {
  content: "";
  position: absolute;

  /* position tooltip correctly */
  left: 20%;
  margin-left: -5px;

  /* vertically center */
  top: 100%;

  /* the arrow */
  border: 10px solid #000;
  border-color: #cddfed transparent transparent transparent;

  display: block;
}

.Search .tooltip p {
  margin: 0;
  font-size: 1rem;
}

.Search .thread-error.hidden {
  opacity: 0;
}
