.Thread {
  font-family: "Bodoni Moda", serif;
}

.Thread .darker-container {
  background-color: #cddfed;
  display: flex;
  width: 6rem;
  height: 2rem;
  justify-content: space-around;
  align-items: center;
}

.Thread .darker-container p {
  font-size: 1rem;
}

.Thread .lighter-container {
  background-color: #e6eff6;
  width: 6rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.Thread .lighter-container p {
  min-height: 2.4rem;
  margin: 0;
}

.Thread .lighter-container .colour {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  border: solid #cddfed;
}

.Thread .blue-square {
  background-color: #e6eff6;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
}

.Thread button:hover {
  cursor: pointer;
}

.Thread .blue-square.thread-input {
  font-size: 1rem;
  font-family: "Bodoni Moda", serif;
  text-align: center;
}
